@import './variables.scss';
@import './mixins.scss';

.mainMenu {
  width: 100%;
  min-height: 300px;
  margin: 5px 0;

  display: grid;
  grid-template-areas:
    "inscription langbar"
    "inscription menu"
    "inscription search";
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr 3fr 1fr;
  justify-content: start;
  align-items: center;

  &__inscription {
    grid-area: inscription;
    min-height: 250px;
  }

  &__langbar {
    grid-area: langbar;
  }

  &__buttonsList {
    grid-area: menu;
    justify-self: end;

    width: 100%;

    display: flex;
    flex-direction: column;

    & > li {
      width: 100%;
    }
  }

  &__button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
    align-items: center;

    & > svg {
      width: 20px;
      height: 20px;
      margin-right: 20px;
      fill: $cd_grey_l;
      transition: 300ms linear;
    }

    &:hover {
      & > svg {
        transition: 1ms linear;
        fill: white;
        transform: scale(1.2);
      }
    }

    &:active {
      & > p {
        transform: translateY(1px)
      }
      & > svg {
        transition: 1ms linear;
        fill: white;
        transform: translateY(1px) scale(1.2);
      }
    }
  }

  &:hover {
    .mainMenu__inscription {
      text-shadow: 0px 0px 2px $cd_grey_el;
    }
  }
}

.langbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__selector {
    width: 25px;
    height: 35px;

    & svg {
      width: 100%;
      height: 100%;
      fill: $cd_grey_l;

      transition: 200ms linear;
    }

    &--mirrored {
      transform: rotateZ(180deg);
    }

    &:hover {
      & svg {
        fill: white;
      }
    }
  }

  &__list {
    width: 108px;
    height: 36px;
    margin: 0 5px;
    border: none !important;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    position: relative;
    overflow: hidden;
  }

  &__listItem {
    min-width: 30px;
    height: 30px;
    margin-left: 3px;
    position: absolute;
    top: 3px;
    cursor: pointer;
    border: 1px solid silver;
    border-radius: 50%;
    overflow: hidden;

    transition: 200ms linear;
    font-size: 20px;
    font-weight: bold;

    z-index: 1;

    & p {
      position: absolute;
      bottom: 0;
      right: 3px;
      z-index: 5;
      color: black;
    }

    &--active {
      box-shadow: 0 0 5px 3px rgb(255, 251, 0);
      z-index: 0;
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 750px) {
  .mainMenu { min-height: 200px; }
}