.EVU {
  margin-bottom: 0.74vw;
  opacity: 0;
  transition: 200ms linear;
}
.EVU:last-of-type {
  margin-bottom: 0;
}
.EVU--visible {
  opacity: 1;
}
.EVU__preview {
  padding: 0 0.74vw;
  font-size: 1.11vw;
  display: grid;
  grid-template-columns: auto 2.22vw 1.48vw 2.22vw 4.07vw;
  grid-column-gap: 0.74vw;
  justify-items: start;
  cursor: pointer;
}
.EVU__preview:hover {
  color: #6f6fff;
}
.EVU__preview p {
  width: 100%;
  line-height: 1.85vw;
  text-align: center;
}
.EVU__preview p:first-child {
  text-align: left;
}
.EVU__compare {
  padding: 0.74vw;
}
.EVU__question {
  padding: 0.37vw 0.74vw;
}
.EVU__compareTitle {
  margin-top: 0.74vw;
  width: 100%;
  font-size: 1.33vw;
  text-align: center;
  color: #adadad;
}
.EVU__answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.74vw;
}
.EVU__answers--etalon, .EVU__answers--user {
  width: 100%;
  padding: 0.37vw;
  overflow: hidden;
}
.EVU__answers--etalon > p, .EVU__answers--user > p {
  width: 100%;
  text-align: center;
}
.EVU__minimize {
  width: 92vw;
  transform: scale(0.5);
  position: relative;
  left: -50%;
  top: -25%;
}
.EVU__setCorrect {
  width: auto !important;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.statsBlock {
  margin-top: 0.74vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.statsBlock__bar {
  display: flex;
  justify-content: center;
  justify-items: stretch;
  align-items: flex-end;
}
.statsBlock__title {
  text-align: center;
  font-size: 1.33vw;
  color: #adadad;
}

@media screen and (max-width: 450px) {
  .EVU {
    margin-bottom: 3vw;
  }
  .EVU__preview {
    font-size: 4vw;
    grid-template-columns: auto 7vw 5vw 7vw 16vw;
    grid-column-gap: 1vw;
  }
  .EVU__preview p {
    line-height: 10vw;
  }
  .EVU__answers {
    grid-column-gap: 2vw;
  }
  .EVU__answers--etalon, .EVU__answers--user {
    padding: 2vw 0.37vw;
  }
  .EVU__answers--etalon > p, .EVU__answers--user > p {
    font-size: 4vw;
    line-height: 7vw;
  }
  .EVU__compareTitle {
    margin-top: 2vw;
    font-size: 3vw;
  }
  .EVU__setCorrect {
    width: 100% !important;
    min-height: 10vw;
    height: auto !important;
    font-size: 5vw !important;
  }

  .statsBlock {
    margin-top: 2vw;
  }
  .statsBlock__title {
    font-size: 3vw;
  }
}
@media screen and (min-width: 451px) and (max-width: 750px) {
  .EVU {
    margin-bottom: 1vw;
  }
  .EVU__preview {
    font-size: 3vw;
    grid-template-columns: auto 6vw 4vw 6vw 13vw;
    grid-column-gap: 1vw;
  }
  .EVU__preview p {
    line-height: 5vw;
  }
  .EVU__answers {
    grid-column-gap: 2vw;
  }
  .EVU__answers--etalon, .EVU__answers--user {
    padding: 1vw 0.37vw;
  }
  .EVU__answers--etalon > p, .EVU__answers--user > p {
    font-size: 3vw;
    line-height: 6vw;
    margin-bottom: 3vw;
  }
  .EVU__compareTitle {
    margin-top: 2vw;
    font-size: 3vw;
  }
  .EVU__setCorrect {
    width: 100% !important;
    min-height: 5vw;
    height: auto !important;
    font-size: 3vw !important;
  }

  .statsBlock {
    margin-top: 2vw;
  }
  .statsBlock__title {
    font-size: 3vw;
  }
}

/*# sourceMappingURL=EtalonVsUser.css.map */
